In [1]:
import pandas as pd

In [3]:
pre_final = pd.read_csv('./cleaned/contest_pre-final.csv')

C:\Users\Aishwarya\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (4,5,11,15,21,22,28,32,34,35,40,41) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
pre_final.head()

,DRIVER_NUMBER,LAPS,FL_KPH,HOUR,MANUFACTURER,TOTAL_TIME,KPH,Unnamed: 25,NUMBER,DRIVER_SHORTNAME,...,S1_IMPROVEMENT,DRIVER_HOMETOWN,FL_TIME,S1_LARGE,DRIVER_LICENSE,S3_IMPROVEMENT,season_year,location,match_type,match_name
0,0.0,NaN,NaN,08:18,NaN,NaN,63.0,NaN,NaN,NaN,...,0.0,NaN,NaN,1:49.797,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1
1,0.0,NaN,NaN,08:20,NaN,NaN,101.9,NaN,NaN,NaN,...,0.0,NaN,NaN,0:42.246,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1
2,0.0,NaN,NaN,08:22,NaN,NaN,103.4,NaN,NaN,NaN,...,0.0,NaN,NaN,0:41.745,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1
3,0.0,NaN,NaN,08:24,NaN,NaN,102.9,NaN,NaN,NaN,...,0.0,NaN,NaN,0:43.439,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1
4,0.0,NaN,NaN,08:26,NaN,NaN,106.3,NaN,NaN,NaN,...,0.0,NaN,NaN,0:41.645,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1

In [5]:
pre_final.columns

Index(['DRIVER_NUMBER', 'LAPS', 'FL_KPH', 'HOUR', 'MANUFACTURER', 'TOTAL_TIME',
       'KPH', 'Unnamed: 25', 'NUMBER', 'DRIVER_SHORTNAME', 'S2_LARGE', 'GROUP',
       'FL_LAPNUM', 'CROSSING_FINISH_LINE_IN_PIT', 'PIT_TIME', 'VEHICLE',
       'TEAM', 'LAP_IMPROVEMENT', 'CLASS', 'S2_IMPROVEMENT', 'TOP_SPEED',
       'DRIVER_COUNTRY', 'STATUS', 'ELAPSED', 'ï»¿POSITION', 'TIRES',
       'DRIVER_NAME', 'S3_LARGE', 'GAP_PREVIOUS', 'LAP_NUMBER', 'ï»¿NUMBER',
       'S2', 'GAP_FIRST', 'DIVISION', 'DRIVER_SECONDNAME', 'DRIVER_FIRSTNAME',
       'S3', 'S1', 'LAP_TIME', 'S1_IMPROVEMENT', 'DRIVER_HOMETOWN', 'FL_TIME',
       'S1_LARGE', 'DRIVER_LICENSE', 'S3_IMPROVEMENT', 'season_year',
       'location', 'match_type', 'match_name'],
      dtype='object')

In [6]:
final = pd.read_csv('./cleaned/race_final_processed.csv')

In [7]:
final.head()

,DRIVER_NAME,location,season_year,match_name,match_type,GROUP,TEAM,mean_KPH,std_KPH,med_KPH,...,mean_S3,std_S3,med_S3,max_S3,min_S3,range_S3,skew_S3,Total_Lap_Num,PIT_TIME_cnt,cnt_CROSSING_FINISH_LINE_IN_PIT
0,MA Qing Hua,Buenos,2016-2017,Groups Qualifying Session,Q,4.0,TECHEETAH,55.950000,74.034080,55.95,...,33244.500000,132.228968,33244.5,33338.0,33151.0,187.0,0.000000,2.0,2,0
1,MA Qing Hua,HongKong,2016-2017,Groups Qualifying Session,Q,2.0,TECHEETAH,60.720000,44.706677,83.70,...,100467.400000,163235.989761,27764.0,392459.0,25098.0,367361.0,2.235539,5.0,5,1
2,MA Qing Hua,HongKong,2016-2017,Race,Race,2.0,TECHEETAH,19.200000,0.000000,19.20,...,254614.000000,0.000000,254614.0,254614.0,254614.0,0.0,0.000000,1.0,1,1
3,MA Qing Hua,Marrakesh,2016-2017,Groups Qualifying Session,Q,1.0,TECHEETAH,96.700000,21.620515,89.10,...,17328.750000,12946.936198,19069.5,31176.0,0.0,31176.0,-0.771944,4.0,4,2
4,MA Qing Hua,Newyork2,2017-2018,Qualifying 2 Group 1,Q,1.0,NIO Formula E Team,74.933333,36.874698,93.10,...,27890.333333,1207.169140,27685.0,29187.0,26799.0,2388.0,0.743282,3.0,3,0

In [8]:
final.columns

Index(['DRIVER_NAME', 'location', 'season_year', 'match_name', 'match_type',
       'GROUP', 'TEAM', 'mean_KPH', 'std_KPH', 'med_KPH', 'max_KPH', 'min_KPH',
       'range_KPH', 'skew_KPH', 'mean_S1', 'std_S1', 'med_S1', 'max_S1',
       'min_S1', 'range_S1', 'skew_S1', 'mean_S2', 'std_S2', 'med_S2',
       'max_S2', 'min_S2', 'range_S2', 'skew_S2', 'mean_S3', 'std_S3',
       'med_S3', 'max_S3', 'min_S3', 'range_S3', 'skew_S3', 'Total_Lap_Num',
       'PIT_TIME_cnt', 'cnt_CROSSING_FINISH_LINE_IN_PIT'],
      dtype='object')

In [9]:
final.shape

(1908, 38)

## Pre-Final Variables

In [10]:
pre_final.head()

,DRIVER_NUMBER,LAPS,FL_KPH,HOUR,MANUFACTURER,TOTAL_TIME,KPH,Unnamed: 25,NUMBER,DRIVER_SHORTNAME,...,S1_IMPROVEMENT,DRIVER_HOMETOWN,FL_TIME,S1_LARGE,DRIVER_LICENSE,S3_IMPROVEMENT,season_year,location,match_type,match_name
0,0.0,NaN,NaN,08:18,NaN,NaN,63.0,NaN,NaN,NaN,...,0.0,NaN,NaN,1:49.797,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1
1,0.0,NaN,NaN,08:20,NaN,NaN,101.9,NaN,NaN,NaN,...,0.0,NaN,NaN,0:42.246,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1
2,0.0,NaN,NaN,08:22,NaN,NaN,103.4,NaN,NaN,NaN,...,0.0,NaN,NaN,0:41.745,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1
3,0.0,NaN,NaN,08:24,NaN,NaN,102.9,NaN,NaN,NaN,...,0.0,NaN,NaN,0:43.439,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1
4,0.0,NaN,NaN,08:26,NaN,NaN,106.3,NaN,NaN,NaN,...,0.0,NaN,NaN,0:41.645,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1

In [20]:
pre_final['DRIVER_NUMBER'].unique()

array([ 0., nan,  1.])

In [26]:
pre_final['DRIVER_NUMBER'] = pre_final['DRIVER_NUMBER'].astype(float)
pre_final['DRIVER_NUMBER'].unique()

array([ 0., nan,  1.])

In [27]:
pre_final['LAPS'].unique()

array([nan, 25., 24., 23., 21., 14.,  2.,  0., 33., 31., 35., 34., 30.,
       26., 20., 15., 29., 28., 17.,  6., 39., 27., 22.,  7.,  3., 38.,
       37., 47., 46., 36., 32.])